<div class="expense">
  <% @expenses.each do |expense| %>
    <%= expense.name %>
    <%= number_to_currency expense.amount %>

    <% if expense.approved? %>
      Approved
    <% else %>
      <%= button_to "approve", user_approved_expense_path(@user, expense), method: :patch %>
    <% end %>

    <%= link_to 'delete', user_expense_path(expense, user_id: @user.id), method: :delete %>
  <% end %>
</div>
